#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dropdown {
  position: relative;
}

.select {
  position: absolute;
}

.select button {
  width: 100%;
}

.flip-card-container {
  height: 100px;
  width: 100px;
}

.flip-card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.flip-card-content {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.flip-card-front {
  width: 100%;
  height: 100%;
  position: absolute;
  background: aliceblue;
  color: #000000;
  backface-visibility: hidden;
}

.flip-card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #ffeec6;
  color: #000000;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.flip-card:hover .flip-card-content {
  transform: rotateY(180deg);
}
